<div class="unit span-grid">
  <% form_tag url_for(:edit_character, :id => @c.id), :method => 'post', :class => 'pure-form pure-form-aligned' do %>

    <fieldset class="form_section">
      <legend>
        Basics
      </legend>

      <div class="pure-control-group">
        <label for="name">Name:</label>
        <input type="text" class="form_input_text" name="name" value="<%= @c.name %>">
      </div>

      <div class="pure-control-group">
        <label for="">Level:</label>
        <input type="text" class="form_input_text" name="level" value="<%= @c.data["level"] %>">
      </div>

      <div class="pure-control-group">
        <label for="">Race:</label>
        <input type="text" class="form_input_text" name="race" value="<%= @c.data["race"] %>">
      </div>

      <div class="pure-control-group">
        <label for="">Class:</label>
        <input type="text" class="form_input_text" name="class" value="<%= @c.data["class"] %>">
      </div>

      <div class="pure-control-group">
        <label for="">Age:</label>
        <input type="text" class="form_input_text" name="age" value="<%= @c.data["age"] %>">
      </div>

      <div class="pure-control-group">
        <label for="">Gender:</label>
        <input type="text" class="form_input_text" name="gender" value="<%= @c.data["gender"] %>">
      </div>

      <div class="pure-control-group">
        <label for="">Diety:</label>
        <input type="text" class="form_input_text" name="diety" value="<%= @c.data["diety"] %>">
      </div>

      <div class="pure-control-group">
        <label for="">Weight:</label>
        <input type="text" class="form_input_text" name="weight" value="<%= @c.data["weight"] %>">
      </div>

      <div class="pure-control-group">
        <label for="">Height:</label>
        <input type="text" class="form_input_text" name="height" value="<%= @c.data["height"] %>">
      </div>
    </fieldset>

    <fieldset class="form_section">
      <legend>
        Attributes
      </legend>

      <div class="pure-control-group">
        <label for="">Strength:</label>
        <input type="text" class="form_input_text" name="attr_str" value="<%= @c.data["attr_str"] %>">
      </div>

      <div class="pure-control-group">
        <label for="">Constitution:</label>
        <input type="text" class="form_input_text" name="attr_con" value="<%= @c.data["attr_con"] %>">
      </div>

      <div class="pure-control-group">
        <label for="">Dexterity:</label>
        <input type="text" class="form_input_text" name="attr_dex" value="<%= @c.data["attr_dex"] %>">
      </div>

      <div class="pure-control-group">
        <label for="">Intelligence:</label>
        <input type="text" class="form_input_text" name="attr_int" value="<%= @c.data["attr_int"] %>">
      </div>

      <div class="pure-control-group">
        <label for="">Wisdom:</label>
        <input type="text" class="form_input_text" name="attr_wis" value="<%= @c.data["attr_wis"] %>">
      </div>

      <div class="pure-control-group">
        <label for="">Charisma:</label>
        <input type="text" class="form_input_text" name="attr_cha" value="<%= @c.data["attr_cha"] %>">
      </div>
    </fieldset>

    <fieldset class="form_section">
      <legend>
        Hit Points
      </legend>

      <div class="pure-control-group">
        <label for="">Total HP:</label>
        <input type="text" class="form_input_text" name="hp" value="<%= @c.data["hp"] %>">
      </div>

      <div class="pure-control-group">
        <label for="">Surges:</label>
        <input type="text" class="form_input_text" name="surges" value="<%= @c.data["surges"] %>">
      </div>
    </fieldset>

    <fieldset class="form_section">
      <legend>
        Initiative
      </legend>

      <div class="pure-control-group">
        <label for="">Initiative:</label>
        <input type="text" class="form_input_text" name="initiative" value="<%= @c.data["initiative"] %>">
      </div>
    </fieldset>

    <fieldset class="form_section">
      <legend>
        Movement
      </legend>

      <div class="pure-control-group">
        <label for="">Speed:</label>
        <input type="text" class="form_input_text" name="speed" value="<%= @c.data["speed"] %>">
      </div>
    </fieldset>

    <fieldset class="form_section">
      <legend>
        Skills
      </legend>

      <label for="" class="pure-checkbox">Acrobatics (Dex):
        <input type="checkbox" class="form_input_text" name="skill_acrobatics" <%= "checked" if !@c.data["skill_acrobatics"].nil? %>>
      </label>
      <label for="" class="pure-checkbox">Arcana (Int):
        <input type="checkbox" class="form_input_text" name="skill_arcana" <%= "checked" if !@c.data["skill_rcana"].nil? %>>
      </label>
      <label for="" class="pure-checkbox">Athletics (Str):
        <input type="checkbox" class="form_input_text" name="skill_athletics" <%= "checked" if !@c.data["skill_athletics"].nil? %>>
      </label>
      <label for="" class="pure-checkbox">Bluff (Cha):
        <input type="checkbox" class="form_input_text" name="skill_bluff" <%= "checked" if !@c.data["skill_bluff"].nil? %>>
      </label>
      <label for="" class="pure-checkbox">Diplomacy (Cha):
        <input type="checkbox" class="form_input_text" name="skill_diplomacy" <%= "checked" if !@c.data["skill_diplomacy"].nil? %>>
      </label>
      <label for="" class="pure-checkbox">Dungeoneering (Wis):
        <input type="checkbox" class="form_input_text" name="skill_dungeoneering" <%= "checked" if !@c.data["skill_dungeoneering"].nil? %>>
      </label>
      <label for="" class="pure-checkbox">Endurance (Con):
        <input type="checkbox" class="form_input_text" name="skill_endurance" <%= "checked" if !@c.data["skill_endurance"].nil? %>>
      </label>
      <label for="" class="pure-checkbox">Heal (Wis):
        <input type="checkbox" class="form_input_text" name="skill_heal" <%= "checked" if !@c.data["skill_heal"].nil? %>>
      </label>
      <label for="" class="pure-checkbox">History (Int):
        <input type="checkbox" class="form_input_text" name="skill_history" <%= "checked" if !@c.data["skill_history"].nil? %>>
      </label>
      <label for="" class="pure-checkbox">Insight (Wis):
        <input type="checkbox" class="form_input_text" name="skill_insight" <%= "checked" if !@c.data["skill_insight"].nil? %>>
      </label>
      <label for="" class="pure-checkbox">Intimidate (Cha):
        <input type="checkbox" class="form_input_text" name="skill_intimidate" <%= "checked" if !@c.data["skill_intimidate"].nil? %>>
      </label>
      <label for="" class="pure-checkbox">Nature (Wis):
        <input type="checkbox" class="form_input_text" name="skill_nature" <%= "checked" if !@c.data["skill_nature"].nil? %>>
      </label>
      <label for="" class="pure-checkbox">Perception (Wis):
        <input type="checkbox" class="form_input_text" name="skill_perception" <%= "checked" if !@c.data["skill_perception"].nil? %>>
      </label>
      <label for="" class="pure-checkbox">Religion (Int):
        <input type="checkbox" class="form_input_text" name="skill_religion" <%= "checked" if !@c.data["skill_religion"].nil? %>>
      </label>
      <label for="" class="pure-checkbox">Stealth (Dex):
        <input type="checkbox" class="form_input_text" name="skill_stealth" <%= "checked" if !@c.data["skill_stealth"].nil? %>>
      </label>
      <label for="" class="pure-checkbox">Streetwise (Cha):
        <input type="checkbox" class="form_input_text" name="skill_streetwise" <%= "checked" if !@c.data["skill_streetwise"].nil? %>>
      </label>
      <label for="" class="pure-checkbox">Thievery (Dex):
        <input type="checkbox" class="form_input_text" name="skill_thievery" <%= "checked" if !@c.data["skill_thievery"].nil? %>>
      </label>
    </fieldset>

    <fieldset class="form_section">
      <legend>
        Defenses
      </legend>

      <div class="pure-control-group">
        <label for="">Armor Class:</label>
        <input type="text" class="form_input_text" name="ac" value="<%= @c.data["ac"] %>">
      </div>

      <div class="pure-control-group">
        <label for="">Fortitude:</label>
        <input type="text" class="form_input_text" name="fort" value="<%= @c.data["fort"] %>">
      </div>

      <div class="pure-control-group">
        <label for="">Reflex:</label>
        <input type="text" class="form_input_text" name="ref" value="<%= @c.data["ref"] %>">
      </div>

      <div class="pure-control-group">
        <label for="">Will:</label>
        <input type="text" class="form_input_text" name="will" value="<%= @c.data["will"] %>">
      </div>
    </fieldset>

    <fieldset class="form_section">
      <legend>
        Feats
      </legend>

      <% @c.data["feat_name"].each_index do |i| %>
        <span style="position:relative;">
          <a class="form_delete" onclick="deleteElement(this);">x</a>
          <div class="pure-control-group">
            <label for="">Feat Name:</label>
            <input type="text" class="form_input_text form_input_text_short" name="feat_name[]" value="<%= @c.data["feat_name"][i] %>">
          </div>
          <div class="pure-control-group">
            <label for="feat_desc[]">Description:</label>
            <textarea type="text" class="form_input_area" name="feat_desc[]"><%= @c.data["feat_desc"][i] %></textarea>
          </div>
        </span>
      <% end %>

      <span style="position:relative;">
        <a class="form_delete" onclick="deleteElement(this);">x</a>
        <div class="pure-control-group">
          <label for="">Feat Name:</label>
          <input type="text" class="form_input_text form_input_text_short" name="feat_name[]">
        </div>
        <div class="pure-control-group">
          <label for="feat_desc[]">Description:</label>
          <textarea type="text" class="form_input_area" name="feat_desc[]"></textarea>
        </div>
        <a class="form_add" onclick="addElement(this);">Add Feat</a><br>
      </span>
    </fieldset>

    <fieldset class="form_section">
      <legend>
        At-Will Powers
      </legend>

      <span style="position:relative;">
        <a class="form_delete" onclick="deleteElement(this);">x</a>
        <div class="pure-control-group">
          <label for="">Power Name:</label>
          <input type="text" class="form_input_text form_input_text_short" name="atwill_power_name[]">
        </div>
        <div class="pure-control-group">
          <label for"atwill_power_desc[]">Description:</label>
          <textarea type="text" class="form_input_area" name="atwill_power_desc[]"></textarea>
        </div>
        <a class="form_add" onclick="addElement(this);">Add At-Will Power</a><br>
      </span>
    </fieldset>

    <fieldset class="form_section">
      <legend>
        Encounter Powers
      </legend>

      <span style="position:relative;">
        <a class="form_delete" onclick="deleteElement(this);">x</a>
        <div class="pure-control-group">
          <label for="">Power Name:</label>
          <input type="text" class="form_input_text form_input_text_short" name="encounter_power_name[]">
        </div>
        <div class="pure-control-group">
          <label for="encounter_power_desc[]">Description:</label>
          <textarea type="text" class="form_input_area" name="encounter_power_desc[]"></textarea>
        </div>
        <a class="form_add" onclick="addElement(this);">Add Encounter Power</a><br>
      </span>
    </fieldset>

    <fieldset class="form_section">
      <legend>
        Daily Powers
      </legend>

      <span style="position:relative;">
        <a class="form_delete" onclick="deleteElement(this);">x</a>
        <div class="pure-control-group">
          <label for="">Power Name:</label>
          <input type="text" class="form_input_text form_input_text_short" name="daily_power_name[]">
        </div>
        <div class="pure-control-group">
          <label for="daily_power_desc[]">Description:</label>
          <textarea type="text" class="form_input_area" name="daily_power_desc[]"></textarea>
        </div>
        <a class="form_add" onclick="addElement(this);">Add Daily Power</a><br>
      </span>
    </fieldset>

    <fieldset class="form_section">
      <legend>
        Attacks
      </legend>

      <span style="position:relative;">
        <a class="form_delete" onclick="deleteElement(this);">x</a>
        <div class="pure-control-group">
          <label for="">Name:</label>
          <input type="text" class="form_input_text form_input_text_short" name="attack_name[]">
        </div>
        <div class="pure-control-group">
          <label for="">Attack:</label>
          <input type="text" class="form_input_text" name="attack_attack">
        </div>
        <div class="pure-control-group">
          <label for="">Defense:</label>
          <input type="text" class="form_input_text" name="attack_defense">
        </div>
        <div class="pure-control-group">
          <label for="">Damage:</label>
          <input type="text" class="form_input_text" name="attack_damage">
        </div>
        <a class="form_add" onclick="addElement(this);">Add Attack</a><br>
      </span>
    </fieldset>

    <fieldset class="form_section">
      <legend>
        Equipment
      </legend>

      <textarea type="text" class="form_input_area" name="equipment"><%= @c.data["notes"] %></textarea>
    </fieldset>

    <fieldset class="form_section">
      <legend>
        Notes
      </legend>

      <textarea type="text" class="form_input_area" name="notes"><%= @c.data["notes"] %></textarea>
    </fieldset>

    <fieldset class="form_section">
      <legend>
        Background
      </legend>

      <textarea type="text" class="form_input_area" name="background"><%= @c.data["background"] %></textarea>
    </fieldset>

    <fieldset class="form_section">
      <%= submit_tag "Save", :class => "pure-button pure-button-primary" %>
    </fieldset>
  <% end %>
</div>
