<div class="unit span-grid">
  <div class="unit span-grid">
    <a href="<%= url_for(:edit_character, id: @c.id) %>" style="float: right;">Edit</a>
  </div>

  <div class="unit one-of-two">
    <legend>
      Basics
    </legend>

    <li>
      Name: <%= @c.name %>
    </li>

    <li>
      Level: <%= @c.data["level"] %>
    </li>

    <li>
      Race: <%= @c.data["race"] %>
    </li>

    <li>
      Age: <%= @c.data["age"] %>
    </li>

    <li>
      Gender: <%= @c.data["gender"] %>
    </li>

    <li>
      Diety: <%= @c.data["diety"] %>
    </li>

    <li>
      Weight: <%= @c.data["weight"] %>
    </li>

    <li>
      Height: <%= @c.data["height"] %>
    </li>
  </div>
  <div class="unit one-of-two">
    <table>
      <tr>
        <th>
          Ability
        </th>
        <th>
          Score
        </th>
        <th>
          Modifier
        </th>
      </tr>
      <tr>
        <td>
          Strength
        </td>
        <td>
          <%= @c.data["attr_str"] %>
        </td>
        <td>
          <%= plus(mod(@c.data["attr_str"])) %>
        </td>
      </tr>
      <tr>
        <td>
          Constitution
        </td>
        <td>
          <%= @c.data["attr_con"] %>
        </td>
        <td>
          <%= plus(mod(@c.data["attr_con"])) %>
        </td>
      </tr>
      <tr>
        <td>
          Dexterity
        </td>
        <td>
          <%= @c.data["attr_dex"] %>
        </td>
        <td>
          <%= plus(mod(@c.data["attr_dex"])) %>
        </td>
      </tr>
      <tr>
        <td>
          Intelligence
        </td>
        <td>
          <%= @c.data["attr_int"] %>
        </td>
        <td>
          <%= plus(mod(@c.data["attr_int"])) %>
        </td>
      </tr>
      <tr>
        <td>
          Wisdom
        </td>
        <td>
          <%= @c.data["attr_wis"] %>
        </td>
        <td>
          <%= plus(mod(@c.data["attr_wis"])) %>
        </td>
      </tr>
      <tr>
        <td>
          Charisma
        </td>
        <td>
          <%= @c.data["attr_cha"] %>
        </td>
        <td>
          <%= plus(mod(@c.data["attr_cha"])) %>
        </td>
      </tr>
    </table>
  </div>

  <div class="unit span-grid">
    <legend>
      At-Will Powers
    </legend>
    <% @c.data["atwill_power_name"].each_index do |i| %>
      <div class="unit one-of-two">
        <h3><%= @c.data["atwill_power_name"][i] %></h3>
        <div>
          <%== mkd @c.data["atwill_power_desc"][i] %>
        </div>
      </div>
    <% end if !@c.data["atwill_power_name"].nil? %>
  </div>

  <div class="unit span-grid">
    <legend>
      Encounter Powers
    </legend>
    <% @c.data["encounter_power_name"].each_index do |i| %>
      <div class="unit one-of-two">
        <h3><%= @c.data["encounter_power_name"][i] %></h3>
        <div>
          <%== mkd @c.data["encounter_power_desc"][i] %>
        </div>
      </div>
    <% end if !@c.data["encounter_power_name"].nil? %>
  </div>

  <div class="unit span-grid">
    <legend>
      Daily Powers
    </legend>
    <% @c.data["daily_power_name"].each_index do |i| %>
      <div class="unit one-of-two">
        <h3><%= @c.data["daily_power_name"][i] %></h3>
        <div>
          <%== mkd @c.data["daily_power_desc"][i] %>
        </div>
      </div>
    <% end if !@c.data["daily_power_name"].nil? %>
  </div>
</div>
