<div class="unit span-grid">
  <div class="unit span-grid">
    <a href="<%= url_for(:edit_character, id: @c.id) %>" style="float: right;">Edit</a>
  </div>

  <div class="unit one-of-two">
    <legend>
      Basics
    </legend>

    <ul>
      <li>
      Name: <%= @c.name %>
      </li>

      <li>
      Level: <%= @c.data["level"] %>
      </li>

      <li>
      Race: <%= @c.data["race"] %>
      </li>

      <li>
      Age: <%= @c.data["age"] %>
      </li>

      <li>
      Gender: <%= @c.data["gender"] %>
      </li>

      <li>
      Diety: <%= @c.data["diety"] %>
      </li>

      <li>
      Weight: <%= @c.data["weight"] %>
      </li>

      <li>
      Height: <%= @c.data["height"] %>
      </li>
    </ul>
  </div>

  <div class="unit one-of-two">
    <legend>
      Health / Defense
    </legend>

    <ul>
      <li>
      Total HP: <%= @c.data["hp"] %>
      </li>

      <li>
      Surges per Day: <%= @c.data["surges"] %>
      </li>

      <li>
      Initiative: <%= plus(@c.data["initiative"]) %>
      </li>

      <li>
      Movement Speed: <%= @c.data["speed"] %>
      </li>

      <li>
      Armor Class: <%= @c.data["ac"] %>
      </li>

      <li>
      Fortitude: <%= @c.data["fort"] %>
      </li>

      <li>
      Reflex: <%= @c.data["ref"] %>
      </li>

      <li>
      Will: <%= @c.data["will"] %>
      </li>
    </ul>
  </div>

  <div class="unit one-of-two">
    <legend>
      Ability Modifiers
    </legend>
    <table>
      <tr>
        <th>
        </th>
        <th>
          Score
        </th>
        <th>
          Modifier
        </th>
      </tr>
      <tr>
        <td>
          Strength
        </td>
        <td>
          <%= @c.data["attr_str"] %>
        </td>
        <td>
          <%= plus(mod(@c.data["attr_str"])) %>
        </td>
      </tr>
      <tr>
        <td>
          Constitution
        </td>
        <td>
          <%= @c.data["attr_con"] %>
        </td>
        <td>
          <%= plus(mod(@c.data["attr_con"])) %>
        </td>
      </tr>
      <tr>
        <td>
          Dexterity
        </td>
        <td>
          <%= @c.data["attr_dex"] %>
        </td>
        <td>
          <%= plus(mod(@c.data["attr_dex"])) %>
        </td>
      </tr>
      <tr>
        <td>
          Intelligence
        </td>
        <td>
          <%= @c.data["attr_int"] %>
        </td>
        <td>
          <%= plus(mod(@c.data["attr_int"])) %>
        </td>
      </tr>
      <tr>
        <td>
          Wisdom
        </td>
        <td>
          <%= @c.data["attr_wis"] %>
        </td>
        <td>
          <%= plus(mod(@c.data["attr_wis"])) %>
        </td>
      </tr>
      <tr>
        <td>
          Charisma
        </td>
        <td>
          <%= @c.data["attr_cha"] %>
        </td>
        <td>
          <%= plus(mod(@c.data["attr_cha"])) %>
        </td>
      </tr>
    </table>
  </div>

  <div class="unit span-grid block">
    <legend>
      Attacks
    </legend>
    <% @c.data["attack_name"].each_index do |i| %>
      <div class="unit one-of-two">
        <h3><%= @c.data["attack_name"][i] %></h3>
        <div>
          <%= @c.data["attack_attack"][i] %> vs. <%= @c.data["attack_defense"][i] %> : <%= @c.data["attack_damage"][i] %>
        </div>
      </div>
    <% end if !@c.data["attack_name"].nil? %>
  </div>

  <div class="unit span-grid block">
    <legend>
      At-Will Powers
    </legend>
    <% @c.data["atwill_power_name"].each_index do |i| %>
      <div class="unit one-of-two">
        <h3><%= @c.data["atwill_power_name"][i] %></h3>
        <div>
          <%== mkd @c.data["atwill_power_desc"][i] %>
        </div>
      </div>
    <% end if !@c.data["atwill_power_name"].nil? %>
  </div>

  <div class="unit span-grid block">
    <legend>
      Encounter Powers
    </legend>
    <% @c.data["encounter_power_name"].each_index do |i| %>
      <div class="unit one-of-two">
        <h3><%= @c.data["encounter_power_name"][i] %></h3>
        <div>
          <%== mkd @c.data["encounter_power_desc"][i] %>
        </div>
      </div>
    <% end if !@c.data["encounter_power_name"].nil? %>
  </div>

  <div class="unit span-grid block">
    <legend>
      Daily Powers
    </legend>
    <% @c.data["daily_power_name"].each_index do |i| %>
      <div class="unit one-of-two">
        <h3><%= @c.data["daily_power_name"][i] %></h3>
        <div>
          <%== mkd @c.data["daily_power_desc"][i] %>
        </div>
      </div>
    <% end if !@c.data["daily_power_name"].nil? %>
  </div>

  <div class="unit span-grid">
    <legend>
      Equipment
    </legend>

    <div class="real-lists"><%== mkd @c.data["equipment"] %></div>
  </div>

  <div class="unit span-grid">
    <legend>
      Notes
    </legend>

    <div class="real-lists"><%==mkd @c.data["notes"] %></div>
  </div>

  <div class="unit span-grid">
    <legend>
      Background
    </legend>

    <div class="real-lists"><%==mkd @c.data["background"] %></div>
  </div>
</div>
