<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= stylesheet_link_tag :application, :media => 'all' %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="row header">
      <div class="large-8 columns">
        <h1><a href="/">Dungeon Tracker</a></h1>
      </div>

      <div class="small-2 columns">
        <% if @user %>
          <a href="/logout" class="tiny button secondary">Logout</a>
        <% else %>
          <a href="/login" class="tiny button secondary">Signin</a>
        <% end %>
      </div>
    </div>

    <%= render 'flashes' -%>

    <%= yield %>

    <%= render 'javascript' %>
  </body>
</html>
